{% extends "base.html" %}
{% block title %}Каталог тортов{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center my-4">Каталог тортов</h1>
    <form id="addCakeForm" class="mb-4">
    <div class="row">
        <div class="col-md-3">
            <input type="text" class="form-control" name="name" placeholder="Название пирожка" required>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" name="description" placeholder="Описание" required>
        </div>
        <div class="col-md-4">
            <input type="url" class="form-control" name="image" placeholder="Ссылка на изображение" required>
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-success">Добавить</button>
        </div>
    </div>
</form>
    <div class="row">
        {% for cake in products %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ cake.image }}" class="card-img-top" alt="{{ cake.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ cake.name }}</h5>
                    <p class="card-text">{{ cake.description }}</p>
                    <a href="{{ url_for('cake_detail', cake_id=cake.id) }}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
document.getElementById('addCakeForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const formData = new FormData(this);

    fetch('/api/items', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            name: formData.get('name'),
            description: formData.get('description'),
            image: formData.get('image')
        })
    })
    .then(response => response.json())
    .then(data => {
        window.location.reload();
    })
    .catch(error => {
        console.error('Ошибка:', error);
    });
});
</script>
{% endblock %}
